<!-- begin:: Brand -->
<div class="kt-header__brand kt-grid__item" [ngClass]="htmlClassService.getClasses('brand', true)" id="kt_header_brand">
	<div class="kt-header__brand-logo">
		<a href="javascript:;" routerLink="/overall/1">
			<img alt="logo" src="assets/images/logo.png" class="kt-header__brand-logo-default" />
			<img alt="logo" src="assets/images/logo.png" class="kt-header__brand-logo-sticky" />
		</a>
	</div>
	<div class="kt-header__brand-nav">
		<div ngbDropdown class="dropdown">
			<button mat-flat-button [matMenuTriggerFor]="menu" class="header-menu-trigger-btn">
				<span>Menu</span>
				<mat-icon>expand_more</mat-icon>
			</button>
			<mat-menu #menu="matMenu">
				<button mat-menu-item [ngClass]="{'activeBtn': this.is_analytics == true}" id="btnMicrositeReports"
					(click)="redirectToDashboard('/acquirely-analytics/4')">
					<mat-icon class="menu-item-icon">analytics</mat-icon>
					<span>{{ this.analytics_dashboard_text }}</span>
				</button>
				<mat-divider></mat-divider>
				<button mat-menu-item [ngClass]="{'activeBtn': this.is_mhi == true}" id="btnVicidialPush"
					(click)="redirectToDashboard('/overall/1')">
					<mat-icon class="menu-item-icon">trending_up</mat-icon>
					<span>{{ this.mhi_text }}</span>
				</button>
				<mat-divider></mat-divider>
				<button mat-menu-item [ngClass]="{'activeBtn': this.is_teleconnex == true}" id="btnVicidialPush"
					(click)="redirectToDashboard('/overall/2')">
					<mat-icon class="menu-item-icon">call</mat-icon>
					<span>{{ this.teleconnex_text }}</span>
				</button>
				<mat-divider></mat-divider>
				<button mat-menu-item [ngClass]="{'activeBtn': this.is_microsite_report == true}"
					id="btnMicrositeReports" (click)="redirectToDashboard('/microsite/3')">
					<mat-icon class="menu-item-icon">language</mat-icon>
					<span>{{ this.microsite_reporting_text }}</span>
				</button>
				<mat-divider></mat-divider>
				<button mat-menu-item [ngClass]="{'activeBtn': this.router.url.includes('/settings')}" id="btnSettings"
					(click)="redirectToDashboard('/settings')">
					<mat-icon class="menu-item-icon">settings</mat-icon>
					<span>Settings</span>
				</button>
				<mat-divider></mat-divider>
				<button mat-menu-item id="ddllogout" type="button" (click)="logout()">
					<mat-icon class="menu-item-icon">logout</mat-icon>
					<span>Logout</span>
				</button>
			</mat-menu>





			<!-- <button
				style="margin-left: 10px"
				[ngStyle]="{
					'background-color':
						this.is_vicidial == true ? '#3d94fb' : '',
					color: this.is_vicidial == true ? '#fff' : ''
				}"
				class="btn btn-default dropdown-toggle"
				id="btnVicidialPush"
				(click)="redirectToDashboard('/vicidial-leads')"
			>
				Push to Vicidial
			</button> -->

		</div>
	</div>
</div>

<!-- end:: Brand -->