<div class="pageContainer">
	<div class="pageTopBar">
		<h2 style="padding: 10px 0px; float: left">
			Revenue Report By Suppliers
		</h2>
		<button class="calendarBtn" (click)="searchButton()"><img src="assets/images/calendar.svg" /></button>
		<div class="searchBox" [ngClass]="search ? 'searchBoxHide' : 'searchBoxShow'">
			<div ngbDropdown class="dropdown searcBar">
				<h3>Search Suppliers Report <button (click)="searchButton()" class="closeBtbn"><img src="assets/images/close.svg" /></button></h3>
				<input
					type="text"
					class="btn btn-default dropdown-toggle"
					ngxDaterangepickerMd
					startKey="start"
					endKey="end"
					[(ngModel)]="model1"
				/>
				<input
					type="text"
					class="btn btn-default dropdown-toggle"
					ngxDaterangepickerMd
					startKey="start"
					endKey="end"
					[ranges]="ranges"
					[(ngModel)]="model1"
				/>
				<select
					class="form-control dropdown-select-box"
					(change)="ChangingValue($event)"
					*ngIf="report_type == 2"
				>
					<option value="undefined">Search By Suppliers</option>
					<option
						*ngFor="let item of supplierListingData"
						value="{{ item.id }}"
					>
						<div *ngIf="item.name != null">{{ item.name }}</div>
					</option>
				</select>
				<button
					class="btn btn-default dropdown-toggle"
					id="ddllogout"
					type="button"
					(click)="searchRange()"
				>
					Search
				</button>
			</div>
		</div>
	</div>

	<div ngbDropdown class="dropdown topBarList" *ngIf="avaible">
		<button class="downloadIconBtn" (click)="downloadButton()"><img src="assets/images/download.svg" /></button>
		<div class="downloadBtnsBox" [ngClass]="download ? 'webDownloadBtns' : 'mobileDownloadBtns'">
			<button
				class="btn btn-default dropdown-toggle"
				id="ddllogout"
				type="button"
				(click)="
					exporter.exportTable('csv', {
						fileName: 'Acquirely  Dashboard '
					})
				"
			>
			<img src="assets/images/csv.svg" />  CSV
			</button>
			<button
				class="btn btn-default dropdown-toggle"
				id="ddllogout"
				type="button"
				(click)="pdf.saveAs('Acquirely  Dashboard.pdf')"
			>
			<img src="assets/images/pdf.svg" /> PDF
			</button>
			<button
				class="btn btn-default dropdown-toggle"
				id="ddllogout"
				type="button"
				[useExistingCss]="true"
				printSectionId="pdfTable"
				ngxPrint
			>
			<img src="assets/images/print.svg" /> Print
			</button>
			<button
				class="btn btn-default dropdown-toggle"
				id="ddllogout"
				type="button"
				(click)="
					exporter.exportTable('xls', {
						fileName: 'Acquirely  Dashboard '
					})
				"
			>
			<img src="assets/images/excel.svg" /> Excel
			</button>
		</div>
		<div fxLayout fxLayoutAlign="right right" class="div-right-align">
			<mat-form-field fxFlex="40%">
				<input
					matInput
					type="text"
					(keyup)="doFilter($event.target.value)"
					placeholder="Search:"
				/>
			</mat-form-field>
		</div>
	</div>

	<div class="mat-table__wrapper agentReportTable" id="pdfTable" #pdfTable>
		<kendo-pdf-export #pdf margin="2cm">
			<table
				mat-table
				class="lmat-elevation-z8"
				multiTemplateDataRows
				[dataSource]="dataSource"
				matTableExporter
				#exporter="matTableExporter"
				#table
			>
				<ng-container matColumnDef="supplierid">
					<th mat-header-cell *matHeaderCellDef>Supplier Id</th>
					<td mat-cell *matCellDef="let element" class="firstCellCollumn">
						{{ element.supplierid }}
						<span class="d-print-none">Supplier Id</span>
					</td> </ng-container
				><ng-container matColumnDef="suppliername">
					<th mat-header-cell *matHeaderCellDef>Supplier Name</th>
					<td mat-cell *matCellDef="let element"  class="secondCellCollumn">
						{{ element.suppliername }}
						<span class="d-print-none">Supplier Name</span>
					</td> </ng-container
				><ng-container matColumnDef="totalcount">
					<th mat-header-cell *matHeaderCellDef>
						Total Unique Leads
					</th>
					<td mat-cell *matCellDef="let element">
						{{ element.totalcount }}
						<span class="d-print-none">Total Unique Leads</span>
					</td>
				</ng-container>

				<ng-container matColumnDef="sumofleads">
					<th mat-header-cell *matHeaderCellDef>Total Revenue($)</th>
					<td mat-cell *matCellDef="let element">
						{{ element.sumofleads }}
						<span class="d-print-none">Total Revenue($)</span>
					</td>
				</ng-container>

				<!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
				<ng-container matColumnDef="expandedDetail">
					<td
						mat-cell
						*matCellDef="let element"
						[attr.colspan]="displayedColumns.length"
					>
						<div
							class="example-element-detail"
							[@detailExpand]="
								element !== expandedElement
									? 'expanded'
									: 'collapsed'
							"
						>
							<div
								class="example-element-description"
								*ngIf="element.campArray.length != 0"
							>
								<table
									id="expandableTable"
									class="lmat-elevation-z8"
								>
									<thead>
										<tr>
											<th>Campaign Id</th>
											<th>Campaign Name</th>
											<th>Unique Leads</th>
											<th>Revenue($)</th>
										</tr>
									</thead>
									<tbody>
										<tr
											*ngFor="
												let columnNested of element.campArray
											"
										>
											<td>
												{{ columnNested.campaignid }}
											</td>
											<td>
												{{ columnNested.campaignname }}
											</td>
											<td>
												{{ columnNested.totalcount }}
											</td>
											<td>
												{{ columnNested.sumofleads }}
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr
					mat-row
					*matRowDef="let element; columns: displayedColumns"
					class="example-element-row"
					[class.example-expanded-row]="expandedElement === element"
					(click)="
						expandedElement =
							expandedElement === element ? null : element
					"
				></tr>
				<tr
					mat-row
					*matRowDef="let row; columns: ['expandedDetail']"
					class="example-detail-row"
				></tr>
			</table>

			<table
				mat-table
				style="display: none"
				class="mat-elevation-z8 sec-mat-tab"
				matTableExporter
				#table
				[dataSource]="dataSourceExport"
				#exporter="matTableExporter"
				multiTemplateDataRows
			>
				<ng-container matColumnDef="suppliername">
					<th mat-header-cell *matHeaderCellDef>Supplier Name</th>
					<td mat-cell *matCellDef="let element">
						{{ element.suppliername }}
					</td>
				</ng-container>
				<ng-container matColumnDef="campaignid">
					<th mat-header-cell *matHeaderCellDef>Campaign Id</th>
					<td mat-cell *matCellDef="let element">
						{{ element.campaignid }}
					</td>
				</ng-container>
				<ng-container matColumnDef="campaignname">
					<th mat-header-cell *matHeaderCellDef>Campaign Name</th>
					<td mat-cell *matCellDef="let element">
						{{ element.campaignname }}
					</td>
				</ng-container>
				<ng-container matColumnDef="totalcount">
					<th mat-header-cell *matHeaderCellDef>Unique Leads</th>
					<td mat-cell *matCellDef="let element">
						{{ element.totalcount }}
					</td>
				</ng-container>

				<ng-container matColumnDef="sumofleads">
					<th mat-header-cell *matHeaderCellDef>Revenue($)</th>
					<td mat-cell *matCellDef="let element">
						{{ element.sumofleads }}
					</td>
				</ng-container>

				<tr
					mat-header-row
					*matHeaderRowDef="displayedColumnsNested"
				></tr>
				<tr
					mat-row
					*matRowDef="let element; columns: displayedColumnsNested"
					class="example-element-row"
					[class.example-expanded-row]="expandedElement === element"
					(click)="
						expandedElement =
							expandedElement === element ? null : element
					"
				></tr>
			</table>
		</kendo-pdf-export>
		<div class="mat-table__message" *ngIf="areNoRecords && !loading">
			No records found
		</div>
	</div>

	<div class="mat-table__bottom">
		<mat-paginator
			[pageSize]="10"
			[pageSizeOptions]="[10, 20, 25, 100]"
			[showFirstLastButtons]="true"
		></mat-paginator>
	</div>
</div>
<div *ngIf="loading" style="text-align: center">
	<img style="padding: 10px; height: 100px" src="assets/images/loader.gif" />
</div>
