@use '@angular/material' as mat;

@include mat.core();

$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

// Define the palettes for your theme using the Material Design palettes
$mat-primary: (
  50: lighten(kt-get($kt-state-colors, brand, base), 24%),
  100: lighten(kt-get($kt-state-colors, brand, base), 16%),
  200: lighten(kt-get($kt-state-colors, brand, base), 8%),
  300: kt-get($kt-state-colors, brand, base),
  400: kt-get($kt-state-colors, brand, base),
  500: kt-get($kt-state-colors, brand, base),
  600: darken(kt-get($kt-state-colors, brand, base), 4%),
  700: darken(kt-get($kt-state-colors, brand, base), 8%),
  800: darken(kt-get($kt-state-colors, brand, base), 12%),
  900: darken(kt-get($kt-state-colors, brand, base), 16%),
  A100: lighten(kt-get($kt-state-colors, brand, base), 16%),
  A200: kt-get($kt-state-colors, brand, base),
  A400: darken(kt-get($kt-state-colors, brand, base), 8%),
  A700: darken(kt-get($kt-state-colors, brand, base), 16%),
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$mat-accent: (
  50: lighten(kt-get($kt-state-colors, primary, base), 24%),
  100: lighten(kt-get($kt-state-colors, primary, base), 16%),
  200: lighten(kt-get($kt-state-colors, primary, base), 8%),
  300: kt-get($kt-state-colors, primary, base),
  400: kt-get($kt-state-colors, primary, base),
  500: kt-get($kt-state-colors, primary, base),
  600: darken(kt-get($kt-state-colors, primary, base), 4%),
  700: darken(kt-get($kt-state-colors, primary, base), 8%),
  800: darken(kt-get($kt-state-colors, primary, base), 12%),
  900: darken(kt-get($kt-state-colors, primary, base), 16%),
  A100: lighten(kt-get($kt-state-colors, primary, base), 16%),
  A200: kt-get($kt-state-colors, primary, base),
  A400: darken(kt-get($kt-state-colors, primary, base), 8%),
  A700: darken(kt-get($kt-state-colors, primary, base), 16%),
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$mat-warn: (
  50: lighten(kt-get($kt-state-colors, danger, base), 24%),
  100: lighten(kt-get($kt-state-colors, danger, base), 16%),
  200: lighten(kt-get($kt-state-colors, danger, base), 8%),
  300: kt-get($kt-state-colors, danger, base),
  400: kt-get($kt-state-colors, danger, base),
  500: kt-get($kt-state-colors, danger, base),
  600: darken(kt-get($kt-state-colors, danger, base), 4%),
  700: darken(kt-get($kt-state-colors, danger, base), 8%),
  800: darken(kt-get($kt-state-colors, danger, base), 12%),
  900: darken(kt-get($kt-state-colors, danger, base), 16%),
  A100: lighten(kt-get($kt-state-colors, danger, base), 16%),
  A200: kt-get($kt-state-colors, danger, base),
  A400: darken(kt-get($kt-state-colors, danger, base), 8%),
  A700: darken(kt-get($kt-state-colors, danger, base), 16%),
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$angular-app-primary: mat.m2-define-palette($mat-primary);
$angular-app-accent: mat.m2-define-palette($mat-accent);
$angular-app-warn: mat.m2-define-palette($mat-warn);

$angular-app-theme: mat.m2-define-light-theme((
  color: (
    primary: $angular-app-primary,
    accent: $angular-app-accent,
    warn: $angular-app-warn,
  )
));

@include mat.all-component-themes($angular-app-theme);