<div class="pageContainer">
	<div class="row">
		<div class="col-12">
			<div class="pageTopBar">
				<h2 style="padding: 10px 0px; float: left">Dashboard</h2>
				<div ngbDropdown class="dropdown searcBar">
					<input
						type="text"
						class="btn btn-default dropdown-toggle"
						ngxDaterangepickerMd
						startKey="start"
						endKey="end"
						[(ngModel)]="model1"
					/>
					<input
						type="text"
						class="btn btn-default dropdown-toggle"
						ngxDaterangepickerMd
						startKey="start"
						endKey="end"
						[ranges]="ranges"
						[(ngModel)]="model1"
					/>
					<button
						class="btn btn-default dropdown-toggle"
						id="ddllogout"
						type="button"
						(click)="searchRange()"
					>
						Search
					</button>
				</div>
			</div>
			<div class="row">
				<!-- <div class="col-sm-12 col-md-12 col-lg-6"> -->
				<div class="col-sm-12 col-md-12 col-lg-6">
					<div
						class="kt-portlet kt-portlet--height-fluid top-border-1"
					>
						<div
							ngbDropdown
							class="dropdown"
							*ngIf="avaible1"
							class="main10-padding topBarList"
						>
							<button
								class="btn btn-default dropdown-toggle"
								id="ddllogout"
								type="button"
								(click)="
									exporter.exportTable('csv', {
										fileName: 'Acquirely  Dashboard '
									})
								"
							>
								CSV
							</button>
							<button
								class="btn btn-default dropdown-toggle"
								id="ddllogout"
								type="button"
								(click)="pdf.saveAs('Acquirely  Dashboard.pdf')"
							>
								PDF
							</button>
							<button
								class="btn btn-default dropdown-toggle"
								id="ddllogout"
								type="button"
								[useExistingCss]="true"
								printSectionId="pdfTable"
								ngxPrint
							>
								Print
							</button>
							<button
								class="btn btn-default dropdown-toggle"
								id="ddllogout"
								type="button"
								(click)="
									exporter.exportTable('xls', {
										fileName: 'Acquirely  Dashboard '
									})
								"
							>
								Excel
							</button>
							<div
								fxLayout
								fxLayoutAlign="right right"
								class="div-right-align"
							>
								<mat-form-field fxFlex="40%">
									<input
										matInput
										type="text"
										(keyup)="doFilter($event.target.value)"
										placeholder="Search:"
									/>
								</mat-form-field>
							</div>
						</div>

						<div class="mat-table__wrapper" id="pdfTable" #pdfTable>
							<kendo-pdf-export #pdf margin="2cm">
								<mat-table
									class="lmat-elevation-z8"
									matTableExporter
									#table
									[dataSource]="dataSourceValue"
									matSort
									#matSort="matSort"
									matSortActive="id"
									matSortDirection="asc"
									matSortDisableClear
									#exporter="matTableExporter"
									(matSortChange)="sortColumn($event)"
								>
									<ng-container matColumnDef="Sr.No">
										<mat-header-cell
											*matHeaderCellDef
											mat-sort-header
											class="coustom-width-row"
										>
											Sr.No</mat-header-cell
										>
										<mat-cell
											*matCellDef="
												let element;
												let i = index
											"
											class="coustom-width-row"
										>
											{{ i + 1 }}
										</mat-cell>
									</ng-container>

									<ng-container matColumnDef="Description">
										<mat-header-cell
											*matHeaderCellDef
											mat-sort-header
											class="coustom-width-row"
										>
											Description
										</mat-header-cell>
										<mat-cell
											*matCellDef="let element"
											class="coustom-width-row"
										>
											{{ element.Description }}
										</mat-cell>
									</ng-container>

									<ng-container matColumnDef="Total">
										<mat-header-cell
											*matHeaderCellDef
											mat-sort-header
											class="coustom-width-text"
											>Total
										</mat-header-cell>
										<mat-cell
											class="mat-cell-question"
											*matCellDef="let element"
											class="coustom-width-text"
										>
											{{ element.Total }}
										</mat-cell>
									</ng-container>

									<mat-header-row
										*matHeaderRowDef="displayedColumns"
									></mat-header-row>
									<div>
										<mat-row
											*matRowDef="
												let row;
												columns: displayedColumns
											"
										></mat-row>
									</div>
								</mat-table>
								<div
									*ngIf="loading1"
									style="text-align: center"
								>
									<img
										style="padding: 10px; height: 100px"
										src="assets/images/loader.gif"
									/>
								</div>
							</kendo-pdf-export>
						</div>
						<!-- <div class="mat-Not__found" *ngIf="dataSource1.length==0" >
							<h2>No Data Found!</h2>
						</div> -->
						<!-- start: BOTTOM -->
						<div class="mat-table__bottom">
							<mat-paginator
								[pageSize]="10"
								[pageSizeOptions]="[10, 20, 25, 100]"
								[showFirstLastButtons]="true"
							></mat-paginator>
						</div>
					</div>
				</div>

				<div class="col-sm-12 col-md-12 col-lg-6">
					<div
						class="kt-portlet kt-portlet--height-fluid top-border-2"
					>
						<img
							*ngIf="!lineChartagraphData"
							src="assets/images/ldr.gif"
							class="img-loader"
						/>
						<figure Sclass="highcharts-figure">
							<div id="container7"></div>
						</figure>
					</div>
				</div>

				<div class="col-sm-12 col-md-12 col-lg-6">
					<div
						class="kt-portlet kt-portlet--height-fluid top-border-3"
					>
						<img
							*ngIf="!lineChartagraphData"
							src="assets/images/ldr.gif"
							class="img-loader"
						/>
						<figure Sclass="highcharts-figure">
							<div id="container6"></div>
						</figure>
					</div>
				</div>

				<div class="col-sm-12 col-md-12 col-lg-6">
					<div
						class="kt-portlet kt-portlet--height-fluid top-border-4"
					>
						<img
							*ngIf="!gpGraphData"
							src="assets/images/ldr.gif"
							class="img-loader"
						/>
						<figure Sclass="highcharts-figure">
							<div id="container8"></div>
						</figure>
					</div>
				</div>

				<div class="col-sm-12 col-md-12 col-lg-6">
					<div
						class="kt-portlet kt-portlet--height-fluid top-border-5"
					>
						<img
							*ngIf="!getAffilategraphData"
							src="assets/images/ldr.gif"
							class="img-loader"
						/>
						<figure Sclass="highcharts-figure">
							<div id="container3"></div>
						</figure>
					</div>
				</div>

				<div class="col-sm-12 col-md-12 col-lg-6">
					<div
						class="kt-portlet kt-portlet--height-fluid top-border-6"
					>
						<img
							*ngIf="!getClickDatagraphData"
							src="assets/images/ldr.gif"
							class="img-loader"
						/>
						<figure Sclass="highcharts-figure">
							<div id="container4"></div>
						</figure>
					</div>
				</div>

				<div class="col-sm-12 col-md-12 col-lg-6">
					<div
						class="kt-portlet kt-portlet--height-fluid top-border-7"
					>
						<img
							*ngIf="!getClickDataAcgraphData"
							src="assets/images/ldr.gif"
							class="img-loader"
						/>
						<figure Sclass="highcharts-figure">
							<div id="container5"></div>
						</figure>
					</div>
				</div>

				<div class="col-sm-12 col-md-12 col-lg-6">
					<div
						class="kt-portlet kt-portlet--height-fluid top-border-8"
					>
						<img
							*ngIf="!sourceReportList"
							src="assets/images/ldr.gif"
							class="img-loader"
						/>
						<figure Sclass="highcharts-figure">
							<div id="container10"></div>
						</figure>
					</div>
				</div>

				<div class="col-sm-12 col-md-12 col-lg-6">
					<div
						class="kt-portlet kt-portlet--height-fluid top-border-9"
					>
						<img
							*ngIf="!campanignsData"
							src="assets/images/ldr.gif"
							class="img-loader"
						/>
						<figure Sclass="highcharts-figure">
							<div id="container1"></div>
						</figure>
					</div>
				</div>

				<div class="col-sm-12 col-md-12 col-lg-6">
					<div
						class="kt-portlet kt-portlet--height-fluid top-border-10"
					>
						<img
							*ngIf="!dataSource"
							src="assets/images/ldr.gif"
							class="img-loader"
						/>

						<figure Sclass="highcharts-figure">
							<div id="container"></div>
						</figure>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
