<!--begin::Body-->
<div class="kt-login__body">
	<!--begin::Signin-->
	<div class="kt-login__form-card">
		<div class="kt-login__logo-container">
			<img src="./assets/images/logo.png" alt="Acquirely" class="login-logo" />
		</div>
		<div class="kt-login__title">
			<h3>Reset Password</h3>
			<p class="kt-login__subtitle-sub">Enter your email address to reset your password</p>
		</div>

		<kt-auth-notice></kt-auth-notice>

		<form class="kt-form" [formGroup]="forgotPasswordForm" autocomplete="off">
			<div class="form-group">
				<mat-form-field appearance="outline" class="auth-form-field">
					<mat-label>{{ 'AUTH.INPUT.EMAIL' | translate }}</mat-label>
					<span matPrefix class="auth-icon-prefix">
						<i class="fa-solid fa-envelope"></i>
					</span>
					<input matInput type="email" placeholder="{{ 'AUTH.INPUT.EMAIL' | translate }}" formControlName="email" autocomplete="off"/>
					<mat-error *ngIf="isControlHasError('email','required')">
						<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('email','email')">
						<strong>{{ 'AUTH.VALIDATION.INVALID_FIELD' | translate }}</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('email','minLength')">
						<strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 3</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('email','maxLength')">
						<strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 320</strong>
					</mat-error>
				</mat-form-field>
			</div>
			<!--begin::Action-->
			<div class="kt-login__actions">
				<button (click)="submit()" id="kt_login_signin_submit" class="btn btn-primary btn-elevate kt-login__btn-primary" [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">
					{{ 'AUTH.GENERAL.SUBMIT_BUTTON' | translate }}
				</button>
				<a routerLink="/auth/login" class="kt-login__link-forgot">
					{{ 'AUTH.GENERAL.BACK_BUTTON' | translate }}
				</a>
			</div>
			<!--end::Action-->
		</form>
	</div>
</div>

